body
{
	font: small/1.5em Arial, Helvetica, serif;
	background-color: #C0FF80;
}

.leftcol
{
	float: left;
	width: 500px;
	border-right: 2px groove #DDD;
}

.rightcol
{
	
}

table.textbox
{
}

table.textbox td
{
	width: 160px;
}

table.text td.nama
{
	width: 200px;
}

table.text td.jumlah
{
	width: 30px;
}

.right
{
	text-align: right;
}

.success
{
    color: green;
}

.failure
{
    color: red;
}